.footer {
  width: 100%;
  background-color: #262525;

  color: #fff;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  left: 0;
}

.footerContent {
  margin: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

li {
  margin: 0.3rem 0;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  display: flex;

}

.footer a:hover {
  color: #f39c12;
}

.footer svg {
  margin-right: 10px;
}