.footer {
  width: 100%;
  background-color: #262525;

  color: #fff;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.footerContent {
  margin: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

li {
  margin: 0.3rem 0;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  display: flex;

}

.footer a:hover {
  color: #f39c12;
}

.footer svg {
  margin-right: 10px;
}



@media (max-width: 900px) {
  .footerContent {
    justify-content: space-between;
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 1.5rem;
  }

  .footer ul {
    width: 100%;
    align-items: center;
  }

  .footer h2 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 0.5rem 0;
  }

  .footerContent {
    gap: 1rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}
