.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;

  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 0 35px; 
margin-top: 30px;
margin-left: 32px;

/* 
background: #000000;
background: linear-gradient(90deg, rgba(41, 41, 41, 0.9) 0%, rgba(75, 74, 74, 0.91) 37%, rgba(87, 87, 87, 0) 37%); */
}

nav {
  display: flex;
  align-items: center; 
  gap: 1.5rem;

}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 21px;
    margin-right: 60px;

}

nav a:hover {
  color: rgb(132, 155, 182);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}



@media (max-width: 900px) {
  .header {
    padding: 0 15px;
    margin-top: 10px;
    margin-left: 0;
  }

  nav a {
    margin-right: 25px;
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .header {
    height: 70px;
    padding: 0 10px;
  }

  .ul {
    display: flex;
    gap: 1rem;
  }

  nav a {
    margin-right: 0;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .ul {
    gap: 0.6rem;
  }

  nav a {
    font-size: 14px;
  }

  .header {
    height: 60px;
  }
}
