.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;

  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 0 35px; 
margin-top: 30px;
margin-left: 32px;

/* 
background: #000000;
background: linear-gradient(90deg, rgba(41, 41, 41, 0.9) 0%, rgba(75, 74, 74, 0.91) 37%, rgba(87, 87, 87, 0) 37%); */
}

nav {
  display: flex;
  align-items: center; 
  gap: 1.5rem;

}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 21px;
    margin-right: 60px;

}

nav a:hover {
  color: rgb(132, 155, 182);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}



.burger {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 22px;
  background: none; 
  border: none;
  position: fixed !important;
  top: 20px !important;
  left: 20px !important; 
  z-index: 9999 !important;
  cursor: pointer;
  padding: 0;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 3px;
}



@media (max-width: 750px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50,50,50,0.95); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9998;
  }

  .nav.open {
    transform: translateX(0);
  }

  .ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: flex-end; */
  }

  .ul a {
    font-size: 24px;
    color: white;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }
}
